h1{
    font-size: 50px;
    text-align: center;
    color: #E27D60;
}

body {
     
    background-size: cover;
    background-image: url(/123.jpg);

}

 h2{
    color: rgb(255, 51, 51);
 } 

p{
    font-size: 25px;
    text-align: center;
    margin-top: -1.5em;
}

h3{
    font-size: 22.50px;
    color: #7E33FF;
}
ul{
    font-size: 23px ;
}

h4{
    font-size: 23px;
    color: #ffff00;
}

h5{
    font-size: 23px;
    color: firebrick;
}

img{

    margin-left: 45%;
    margin-bottom: 2%;
}

h6{

    text-align: center;
    font-size: 12px;
}